# Reference: https://github.com/ChristophWurst/xmllint-action
# Documentation for xmllint commands: https://gnome.pages.gitlab.gnome.org/libxml2/xmllint.html

name: Github CI - XML Lint

on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout branch
      uses: actions/checkout@v3
      with:
        # Make sure the actual branch is checked out when running on pull requests
        ref: ${{ github.head_ref }}
        fetch-depth: 0
        # Make sure the value of GITHUB_TOKEN will not be persisted in repo's config
        persist-credentials: false

    - name: Dump Github Actions context info
      uses: crazy-max/ghaction-dump-context@v2

    - name: Install & cache packages for linting
      uses: awalsh128/cache-apt-pkgs-action@latest
      with:
        packages: libxml2-utils
        version: 1.0
    
    # Reference: https://stackoverflow.com/a/73557633
    - name: xmllint_pull_request
      if: ${{ github.event_name == 'pull_request' }}
      shell: bash
      run: |
        git diff --name-only *.{entity,} ${{github.head_ref.sha}} ${{ github.sha }} | xargs xmllint --noout

    - name: xmllint_push
      if: ${{ github.event_name == 'push' }}
      shell: bash
      run: |
        git diff --name-only *.{entity,} ${{github.event.pull_request.base.sha}} ${{ github.event.pull_request.head.sha }} | xargs xmllint --noout
