# Reference: https://github.com/ChristophWurst/xmllint-action

name: Github CI - XML Lint

on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Install xmllint locally
      shell: bash
      run: |
        sudo apt -y install libxml2-utils

    - name: Run xmllint on XML entity files
      shell: bash
      run:
        xmllint .xml_files/