# Reference: https://github.com/ChristophWurst/xmllint-action

name: Github CI - XML Lint

on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Download schema
      run: wget https://apps.nextcloud.com/schema/apps/info.xsd

    - name: Enable XML Lint Annotations
      uses: korelstar/xmllint-problem-matcher@v1.1.0

    - name: XML Lint - apply on entity files
      uses: ChristophWurst/xmllint-action@v1.1
      with:
        xml-file: ./xml_files/*.entity
        xml-schema-file: ./info.xsd