# Reference: https://github.com/ChristophWurst/xmllint-action
# Documentation for xmllint commands: https://gnome.pages.gitlab.gnome.org/libxml2/xmllint.html

name: Github CI - XML Lint

on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Install & cache packages for linting
      uses: awalsh128/cache-apt-pkgs-action@latest
      with:
        packages: libxml2-utils
        version: 1.0

    - name: Run xmllint on XML entity files
      shell: bash
      run:
        xmllint --noout xml_files/*.entity